$primaryBack: #0047AB;
$primaryText: #FFF;

body {
  font-family: Monaco;
  width: 640px;
  margin: auto;
}

.header {
  background-color: $primaryBack;
  color: $primaryText;
  padding: 20px;
  font-size: 1.5em;
}

.row {
  padding: 20px;
  border: 2px solid $primaryBack;
}

.footer {
  background-color: $primaryBack;
  color: $primaryText;
  padding: 20px;
  font-size: 0.8em;
  text-align: right;
}
