$primaryBackColor: #0047AB;
$primaryTextColor: #FFF;

body {
  font-family: Monaco;
  width: 640px;
  margin: auto;
}

.header {
  background-color: $primaryBackColor;
  color: $primaryTextColor;
  padding: 20px;
  font-size: 1.5em;
}

.row {
  padding: 20px;
  border: 2px solid $primaryBackColor;
}

.footer {
  background-color: $primaryBackColor;
  color: $primaryTextColor;
  padding: 20px;
  font-size: 0.8em;
  text-align: right;
}
