$primaryBackColor: #0047AB;
$primaryTextColor: #FFF;
$contentBackColor: #FFF0E0;

body {
  font-family: Monaco;
  width: 640px;
  margin: auto;
}

.header {
  background-color: $primaryBackColor;
  color: $primaryTextColor;
  padding: 20px;
  font-size: 1.5em;
}

.row {
  padding: 20px;
  border: 2px solid $primaryBackColor;
  background-color: $contentBackColor;

  &::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

@define-placeholder col {
  width:180px;
  height:360px;
  font-size: 30px;
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

@define-placeholder col-before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.col-fast {
  @extend col;

  &::before {
    @extend col-before;
    background-image: url('images/fast.jpg');
  }
}

.col-modular {
  @extend col;

  &::before {
    @extend col-before;
    background-image: url('images/modular.jpg');
  }
}

.col-flexible {
  @extend col;

  &::before {
    @extend col-before;
    background-image: url('images/flexible.jpg');
  }
}

.footer {
  background-color: $primaryBackColor;
  color: $primaryTextColor;
  padding: 20px;
  font-size: 0.8em;
  text-align: right;
}
